@import url('./variable.css');

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Ohsquare';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* header */
.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: var(--black-color);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 110px;
}

.header-logo img {
  width: 100%;
  height: auto;
}

.gnb-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gnb-item {
  margin-right: 36px;
}

.gnb-item:last-child {
  margin-right: 0;
}

.gnb-item h2 {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  color: var(--white-color);
}

.gnb-item h2:hover {
  color: var(--red-color);
}

.gnb-item h2::before {
  content: '';
  height: 2px;
  width: 0;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.3s;
  position: absolute;
  bottom: -8px;
  left: -1px;
}

.gnb-item h2:hover::before {
  width: 100%;
  background-color: #fff;
}

.header-button {
  font-size: 20px;
  color: var(--white-color);
  background-color: transparent;
}

.header-button:hover,
.header-button:active {
  opacity: 0.7;
}

.menu-button {
  margin-left: 12px;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 200;
  background-color: var(--black-color);
}

.sidebar.is-active {
  display: block;
}

.sidebar-top-menu {
  position: absolute;
  top: 96px;
  right: 24px;
  text-align: right;
}

.top-menu-item {
  margin-bottom: 8px;
}

.top-menu-item:last-child {
  margin-bottom: 0;
}

.top-menu-item a {
  font-size: 14px;
  color: var(--white-color);
}

.top-menu-item:active a {
  color: var(--red-color);
}

.sidebar-nav-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-menu-item {
  margin-bottom: 24px;
  text-align: center;
}

.nav-menu-item:active h2 {
  color: var(--red-color);
}

.nav-menu-item h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--white-color);
}

.sns-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-button {
  width: 32px;
  height: 32px;
  margin: 0 4px;
  font-size: 16px;
  color: var(--white-color);
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--white-color);
}

.sns-button:active {
  color: var(--red-color);
	border-color: var(--red-color);
}

.sidebar .close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 32px;
  height: 32px;
  font-size: 20px;
  color: var(--white-color);
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header-wrap {
    height: 80px;
  }

  .header-button {
    font-size: 26px;
  }

  .menu-button {
    margin-left: 16px;
  }

  /* sidebar */
  .sidebar-top-menu {
    right: 36px;
  }

  .top-menu-item a {
    font-size: 24px;
  }

  .nav-menu-item {
    margin-bottom: 36px;
  }

  .nav-menu-item h2 {
    font-size: 48px;
  }

  .sidebar .close-button {
    right: 36px;
    font-size: 26px;
  }
}
