@import url('./variable.css');

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Ohsquare';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

a:hover {
  color: var(--black-color);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* header */
.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: var(--black-color);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 110px;
}

.header-logo img {
  width: 100%;
  height: auto;
}

.gnb-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gnb-item {
  margin-right: 36px;
}

.gnb-item:last-child {
  margin-right: 0;
}

.gnb-item h2 {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  color: var(--white-color);
}

.gnb-item h2:hover {
  color: var(--red-color);
}

.gnb-item h2::before {
  content: '';
  height: 2px;
  width: 0;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.3s;
  position: absolute;
  bottom: -8px;
  left: -1px;
}

.gnb-item h2:hover::before {
  width: 100%;
  background-color: #fff;
}

.header-button {
  font-size: 20px;
  color: var(--white-color);
  background-color: transparent;
}

.header-button:hover,
.header-button:active {
  opacity: 0.7;
}

.menu-button {
  margin-left: 12px;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 200;
  background-color: var(--black-color);
}

.sidebar.is-active {
  display: block;
}

.sidebar-top-menu {
  position: absolute;
  top: 96px;
  right: 24px;
  text-align: right;
}

.top-menu-item {
  margin-bottom: 8px;
}

.top-menu-item:last-child {
  margin-bottom: 0;
}

.top-menu-item a {
  font-size: 14px;
  color: var(--white-color);
}

.top-menu-item:active a {
  color: var(--red-color);
}

.sidebar-nav-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-menu-item {
  margin-bottom: 24px;
  text-align: center;
}

.nav-menu-item:active h2 {
  color: var(--red-color);
}

.nav-menu-item h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--white-color);
}

.sns-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-button {
  width: 32px;
  height: 32px;
  margin: 0 4px;
  font-size: 16px;
  color: var(--white-color);
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--white-color);
}

.sns-button:active {
  color: var(--red-color);
  border-color: var(--red-color);
}

.sidebar .close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 32px;
  height: 32px;
  font-size: 20px;
  color: var(--white-color);
  background-color: transparent;
}

/* main banner */
.main-banner {
  position: relative;
  margin-top: 65px;
  margin-bottom: 80px;
}

.main-banner .slide-item {
  position: relative;
  overflow: hidden;
}

.main-banner .slide-item img {
  width: 100%;
}

.main-banner .slide-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.item01-text-1,
.item01-text-2 {
  position: absolute;
  right: 14%;
}

.main-banner .slide-item .item01-text-1 {
  top: 25%;
  width: 30%;
  visibility: visible;
  animation-duration: 1s;
}

.main-banner .slide-item .item01-text-2 {
  top: 40%;
  width: 40%;
  visibility: visible;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

.item02-text-1,
.item02-text-2 {
  position: absolute;
  left: 14%;
}

.main-banner .slide-item .item02-text-1 {
  top: 25%;
  width: 40%;
}

.main-banner .slide-item .item02-text-2 {
  top: 45%;
  width: 50%;
}

.main-banner .slide-button:active,
.main-banner .slide-button:hover {
  color: var(--white-color);
}

.main-banner .prev-button {
  left: 8px;
}

.main-banner .next-button {
  right: 8px;
}

/* products slide */
.product-slide {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 80px;
}

.product-slide .slide-list-wrap {
  position: relative;
}

.product-slide-title,
.product-card-title,
.newsletter-title {
  margin-bottom: 36px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-slide .slide-button {
  position: absolute;
  top: 50%;
  transform: translateY(-160%);
  width: 36px;
  height: 36px;
  font-size: 24px;
  color: var(--white-color);
  background-color: var(--red-color);
  border-radius: 50%;
}

.product-slide .slide-button:hover,
.product-slide .slide-button:active {
  opacity: 0.7;
}

.product-slide .prev-button {
  left: -24px;
}

.product-slide .next-button {
  right: -24px;
}

.product-slide .next-button i {
  position: absolute;
  top: 51%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.slide-item img {
  width: 100%;
  margin-bottom: 8px;
  cursor: pointer;
}

.slide-item .hover-image {
  display: none;
}

.slide-item:hover .default-image {
  display: none;
}

.slide-item:hover .hover-image {
  display: inline-block;
}

.slide-item:hover .textbox {
  opacity: 0.7;
}

.slide-item .textbox a {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.textbox .hot {
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 700;
  color: var(--red-color);
  text-transform: uppercase;
}

.textbox .item-title {
  margin-bottom: 4px;
  font-size: 14px;
}

.textbox .item-price {
  font-size: 13px;
}

/* ad */
.ad {
  position: relative;
  height: 360px;
  margin-bottom: 80px;
  background: url(../assets/img/ad01.png) no-repeat center fixed;
}

.ad-content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.ad .ad-title,
.ad .ad-caption {
  font-family: 'Cafe24Ohsquare';
  color: var(--white-color);
}

.ad-title {
  margin-bottom: 16px;
  font-size: 30px;
}

.ad-caption {
  margin-bottom: 24px;
  font-size: 18px;
}

.ad-go {
  padding: 4px 8px;
  font-weight: 700;
  color: var(--white-color);
  border: 2px solid var(--white-color);
}

.ad-go:hover,
.ad-go:active {
  color: var(--black-color);
  background-color: var(--white-color);
}

/* product info */
.product-info {
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
  perspective: 600px;
}

.click-guide {
  margin-bottom: 4px;
  font-size: 13px;
  color: rgb(173, 173, 173);
}

.click-guide i {
  margin-right: 4px;
}

.info-card {
  position: relative;
  width: 100%;
  height: 280px;
  margin-bottom: 24px;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--white-color);
  background: linear-gradient(var(--white-color) 40%, var(--black-color) 40%);
  border: 1px solid var(--black-color);
  cursor: pointer;
}

.card-front .card-sub-title {
  font-size: 14px;
}

.card-front .card-title {
  font-size: 24px;
}

.card-back {
  overflow: hidden;
  transform: rotateY(180deg);
}

.card-back img {
  width: 100%;
  height: 100%;
}

.info-card.is-flip {
  transform: rotateY(180deg);
}

.card-back .back-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  padding: 12px;
  text-align: center;
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.6);
  transform: translate(-50%, -50%);
}

.card-back .back-title {
  font-size: 18px;
}

.card-back .back-text {
  margin-top: 24px;
  font-size: 13px;
}

.card-back .go-button {
  position: absolute;
  left: 50%;
  bottom: 16px;
  padding: 4px 8px;
  font-size: 14px;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--white-color);
  transform: translateX(-50%);
}

.card-back .go-button:hover,
.card-back .go-button:active {
  color: var(--black-color);
  background-color: var(--white-color);
}

/* newsletter */
.newsletter {
  margin-bottom: 80px;
  padding: 24px 0;
  background-color: var(--border-color);
}

.newsletter-title {
  font-family: 'Cafe24Ohsquare';
}

.newsletter .email-form-wrap {
  width: 70%;
  height: 160px;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--white-color);
}

.newsletter .email-form {
  position: relative;
  width: 80%;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.email-form input {
  width: 100%;
  padding: 8px 12px;
  border: 0;
  outline: 0;
  background-color: var(--red-color);
}

.email-form .submit-button {
  position: absolute;
  right: 0;
  width: 36px;
  height: 100%;
  color: var(--white-color);
  background-color: var(--black-color);
}

.checkbox {
  width: 100%;
  display: flex;
  padding: 12px;
}

.checkbox input {
  display: none;
}

.checkbox span {
  font-size: 12px;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox .checkicon {
  position: relative;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  border: 1px solid #000;
  border-radius: 3px;
  transition: background 0.1s ease;
}

.checkbox .checkicon::after {
  content: '';
  position: absolute;
  top: 0;
  left: 4px;
  width: 5px;
  height: 11px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg) scale(0);
  transition: all 0.3s ease;
  transition-delay: 0.15s;
  opacity: 0;
}

.checkbox .checktext {
  margin-left: 5px;
}

.checkbox input:checked ~ .checkicon {
  border-color: transparent;
  background: #ff1616;
  animation: jelly 0.6s ease;
}

.checkbox input:checked ~ .checkicon::after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}

/* footer */
.footer {
  width: 100%;
  padding: 24px 16px;
  background-color: var(--black-color);
}

.footer-gnb {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--border-color);
}

.footer-gnb-item:not(.gnb-title) {
  display: none;
}

.footer-gnb-item a,
.footer-gnb-item strong {
  color: var(--white-color);
}

.footer-logo {
  width: 100%;
}

.footer-logo img {
  width: 40%;
}

@media screen and (min-width: 768px) {
  .header-wrap {
    height: 80px;
  }

  .header-button {
    font-size: 26px;
  }

  .menu-button {
    margin-left: 16px;
  }

  /* sidebar */
  .sidebar-top-menu {
    right: 36px;
  }

  .top-menu-item a {
    font-size: 24px;
  }

  .nav-menu-item {
    margin-bottom: 36px;
  }

  .nav-menu-item h2 {
    font-size: 48px;
  }

  .sidebar .close-button {
    right: 36px;
    font-size: 26px;
  }

  /* main banner */
  .main-banner {
    margin-top: 80px;
  }

  .main-banner .slide-button {
    width: 48px;
    height: 48px;
    font-size: 40px;
  }

  .main-banner .prev-button {
    left: 16px;
  }

  .main-banner .next-button {
    right: 16px;
  }

  /* product slide */
  .product-slide-title,
  .product-card-title,
  .newsletter-title {
    margin-bottom: 48px;
    font-size: 36px;
  }

  .product-slide .prev-button {
    left: -48px;
  }

  .product-slide .next-button {
    right: -48px;
  }

  /* ad */
  .ad {
    height: 400px;
  }

  .ad-title {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .ad-caption {
    margin-bottom: 36px;
    font-size: 24px;
  }

  .ad-go {
    padding: 4px 8px;
    font-weight: 700;
    color: var(--white-color);
    border: 2px solid var(--white-color);
  }

  /* product info */

  .info-card {
    width: 32%;
    height: 360px;
  }

  .info-card-wrap {
    display: flex;
    justify-content: space-between;
  }

  .card-front .front-image {
    width: 100%;
    height: auto;
    transform: translateY(20px);
  }

  .card-front .card-sub-title {
    margin-top: 36px;
  }

  .card-back .back-image {
    height: 360px;
  }

  /* newsletter */

  .newsletter {
    padding: 48px 0;
  }

  .newsletter .email-form-wrap {
    height: 200px;
  }

  .newsletter .email-form {
    margin-bottom: 24px;
  }

  .checkbox {
    justify-content: center;
  }

  .checkbox .checkicon {
    width: 19px;
    height: 19px;
  }
  .checkbox .checkicon::after {
    top: 1px;
    left: 5px;
  }

  /* footer */
  .footer {
    padding: 32px;
  }

  .footer-gnb-list {
    text-align: center;
  }

  .footer-gnb-item {
    margin-bottom: 4px;
  }

  .footer-gnb-item a {
    font-size: 14px;
  }

  .footer-gnb-item.gnb-title {
    font-size: 18px;
  }

  .footer .footer-gnb-item:not(.gnb-title) {
    display: block;
  }

  .footer-logo {
    width: 140px;
  }

  .footer-logo img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .main-banner,
  .product-slide,
  .ad {
    margin-bottom: 160px;
  }

  /* product info */
  .product-info {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 160px;
  }

  .card-front .front-image {
    transform: translateY(-10px);
  }

  .card-front .front-image img {
    width: 80%;
  }

  .card-front .card-sub-title {
    margin-top: 0;
  }

  /* newsletter */
  .email-form input {
    padding: 16px;
  }

  .email-form .submit-button {
    width: 48px;
  }

  /* footer */
  .footer-gnb {
    justify-content: center;
  }

  .footer-gnb-list {
    margin-right: 96px;
  }

  .footer-gnb-item {
    margin-bottom: 12px;
  }

  .footer-gnb-item a {
    font-size: 16px;
  }

  .footer-gnb-item:hover a {
    color: var(--red-color);
  }

  .footer-gnb-item.gnb-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
